.dropdown-menu {
    min-width: 100%;
    text-align: center;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-img {
    width: 75px;
    height: 75px;
}

@media (min-width: 768px) {
    .business-img {
        width: 125px;
        height: 125px;
    }
}

/* md */
@media (min-width: 992px) {
    .business-img {
        width: 150px;
        height: 150px;
    }
}

.form-control.is-valid,
.was-validated .form-control:valid {
    background-image: none;
}

.was-validated .form-select:valid:not([multiple]):not([size]) {
    padding-right: 0px;
}

.was-validated .form-select:invalid:not([multiple]):not([size]) {
    padding-right: 0px;
}