html {
    height: 100%;
}

body {
    background-image: linear-gradient(to top, rgba(143, 160, 198, 0.73), rgba(255, 255, 255, 0.52)), url(./city.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}